@import url("https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display:wght@400&=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  font-size: 62.5%;
}
body {
  background-color: hsl(0, 0%, 95%);
  height: 100vh;
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Lexend Deca", sans-serif;
}
*:focus {
  outline: none;
}

/*colors
Bright orange: hsl(31, 77%, 52%)
Dark cyan: hsl(184, 100%, 22%)
Very dark cyan: hsl(179, 100%, 13%)
Transparent white (paragraphs): hsla(0, 0%, 100%, 0.75)
Very light gray (background, headings, buttons): hsl(0, 0%, 95%)
--
*/

/* main container  */
.container {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1.5rem;
  overflow: hidden;
}
/* individual component  */
.car {
  max-width: 25rem;
  padding: 3.2rem;
}
.sedan {
  background-color: hsl(31, 77%, 52%);
}
.suv {
  background-color: hsl(184, 100%, 22%);
}
.luxery {
  background-color: hsl(179, 100%, 13%);
}
/* button  */
.btn,
.btn:link,
.btn:visited {
  font-family: "Lexend Deca", sans-serif;
  text-decoration: none;
  display: block;
  border: none;
  border-radius: 1.5rem;
  padding: 1.2rem 2.4rem;
  text-transform: capitalize;
  margin-bottom: 3.2rem;
  margin-top: 5.2rem;
  cursor: pointer;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.1rem;
}
/* individual style of button  */
.sedan .btn {
  color: hsl(31, 77%, 52%);
}
.suv .btn {
  color: hsl(184, 100%, 22%);
}
.luxery .btn {
  color: hsl(179, 100%, 13%);
}
/* focus state of button  */
.luxery .btn:focus {
  box-shadow: 0 0 0 0.8rem rgba(54, 142, 148, 0.246);
}
.sedan .btn:focus {
  box-shadow: 0 0 0 0.8rem rgba(226, 153, 19, 0.534);
}
.suv .btn:focus {
  box-shadow: 0 0 0 0.8rem rgba(115, 211, 218, 0.246);
}
/* hover state of button  */
.btn:hover {
  background-color: transparent;
  box-shadow: 0 0 0 0.2rem hsl(0, 0%, 95%);
  color: hsl(0, 0%, 95%);
}
/* main heading of component  */
.primary-heading {
  padding-top: 3.5rem;
  font-family: "Big Shoulders Display", sans-serif;
  font-size: 3rem;
  line-height: 1.05;
  font-weight: 700;
  text-transform: uppercase;
  color: hsl(0, 0%, 95%);
}
/* content of component  */
.content {
  padding-top: 2.4rem;
  font-family: "Lexend Deca", sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  padding-bottom: 3.2rem;
  color: hsla(0, 0%, 100%, 0.75);
}
/* Mobile design  */
/*****************/
/* Less than 675px mobile ter*
675/16=42em/
/*****************/
@media (max-width: 42em) {
  html {
    font-size: 56.25%;
  }
  .car {
    padding: 3.2rem 2rem;
  }
  .content {
    padding-bottom: 1.4rem;
  }
  .btn {
    margin-top: 1.4rem;
  }
}
/*****************/
/* Less than 500px mobile ter*
500/16=42em/
/*****************/
@media (max-width: 31.25em) {
  .container {
    flex-direction: column;
  }
  .car {
    padding: 2rem;
  }
  .primary-heading {
    padding-top: 2.4rem;
  }
  .content {
    padding-bottom: 1.4rem;
  }
  .btn {
    margin-top: 1rem;
    margin-bottom: 1.6rem;
  }
}
/*****************/
/* Less than 500px mobile ter*
400/16=42em/
/*****************/
@media (max-width: 25em) {
  .car {
    padding: 1.8rem;
  }
  .primary-heading {
    padding-top: 1.4rem;
    font-size: 2.4;
  }
  .content {
    padding-bottom: 1rem;
  }
  .btn {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
}
